<div class="header-proposition">
  <div class="content">
    <div>
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav style="float:left; width:75%;" id="proposition-menu">
      <a href="/" id="proposition-name">Data Publication Platform</a>
      <!-- <a href="#" class="text_login no_link_style">Login</a> -->
      <!--
      <ul id="proposition-links">
        <li><a href="url-to-page-1" class="active">Navigation item #1</a></li>
        <li><a href="url-to-page-2">Navigation item #2</a></li>
      </ul>
      -->
    </nav>
    </div>
    <div>
      <span> 
        <a href="login" class="text_login no_link_style">Sign in</a>
      </span>
    </div>
  </div>
</div>
