

<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

<div class="header_container_black">

	<div class="header_box" style="background: #000000">

		<div class="header_logo"><a href="../../../../../index"><img src="../../../../../public/images/logo.png" alt="Land Registry"></a></div>

    	<div class="header_title"></div>

    	<div class="header_user"> </div>

    </div>

</div>

<div class="header_container_2">

	<div class="header_box_line"></div>

</div>


<!--

<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

<div class="header_container">

    <div class="header_box" style="background:#004322">

		<div class="header_index_3">Digital Land Charges</div>

    </div>

</div>

<div class="header_container_2">

	<div class="header_box_line"></div>
	
</div>

-->


