

<!--

<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
      	<div class="header-global">
          	<div class="header-logo">
            	<a href="http://www.gov.uk" title="Go to the Gov.uk homepage" id="logo" class="content">
              		<img src="/service-manual/assets/govuk_template/images/gov.uk_logotype_crown.png" alt=""> GOV.UK
            	</a>
    		</div>
	    	<div>
	    		<a href="#search" class="search-toggle js-header-toggle">Search</a>
				<form id="search" class="site-search" action="/service-manual/search" method="get">
	    			<div class="content">
	      				<label for="site-search-text">Search the service manual</label>
	      				<input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus" role="search">
	      				<input class="submit" type="submit" value="Search">
	    			</div>
				</form>
			</div>
        </div>
        <div class="header-proposition">
			<div class="content">
			    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
			    <nav id="proposition-menu">
				    <a href="/service-manual" id="proposition-name">Government Service Design Manual</a>
				    <ul id="proposition-links">
				        <li><a href="/service-manual/digital-by-default" class="">Digital by Default Service Standard</a></li>
				        <li><a href="/service-manual/start" class="">Start using the manual</a></li>
				        <li><a href="/contact/govuk" class="">Feedback</a></li>
				    </ul>
			    </nav>
			</div>
		</div>
    </div>
</header>

-->

<!--

<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

<div class="header_container">

	<div class="header_box" style="background: #002a15">

		<div class="header_logo"><a href="../../../../../index"><img src="../../../../../public/images/logo_3.png" alt="Land Registry"></a></div>

    	<div class="header_title">Data Publication Platform</div>

    	<div class="header_user">John Smith &nbsp;<span class="separator_2">|</span>&nbsp; <a class="logout" href="splash">Logout</a></div>

    </div>

</div>

<div class="header_container_2">

	<div class="header_box_line"></div>

</div>

-->



