<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>

<title>Data Publication Platform</title>

<head>

	<link rel="stylesheet" href="/public/stylesheets/styles.css">
	<link rel="stylesheet" href="/public/stylesheets/elements.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

</head>

<body>

{{>includes_2/header_2}}

<div id="content">

	<div class="spacer_20"></div>

	<h1 class="title_48">Data Publication Platform <br>UX prototypes</h1>
	
	<div class="spacer_20"></div>

	<h2 class="title_24">Working progress prototypes</h2>

	<div class="spacer_5"></div>

	<p class="text_19">Latest Data Publication Platform prototypes organised by project: </p>

	<div class="spacer_20"></div>

	<ul>
		<li>
			<a class="link_19" href="#">Dashboard</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">House Price Index</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">Price Paid Data</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">Transaction Data</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">Commertial and Corporate Ownership Data</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">INSPIRE Index Polygons Spatial Data</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">1862 Act Registers</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="/projects/dashboard/latest/gov">National Polygon Services</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">Title Descriptor</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">Unique Property Reference Number (UPRN)</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">Overseas Ownership</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">DayList</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">Leases</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">Charges</a>
		</li>
		<div class="spacer_10"></div>
		<li>
			<a class="link_19" href="#">National Spatial Dataset</a>
		</li>
	</ul>

	<div class="spacer_50"></div>

	<h2 class="title_24">Usability testing prototypes</h2>

	<div class="spacer_5"></div>

	<p class="text_19">Usability testing prototypes organised by date: </p>

	<div class="spacer_20"></div>

	<table class="custom_1">   
		<tr>
			<th width="15%" class="table_text_gray">Project</th>
			<th width="15%" class="table_text_gray">Date</th>
			<th width="70%" class="table_text_gray">Description</th>
		</tr>
		<tr>
			<td style="vertical-align: top"><a href="#">Dashboard</a></td>
			<td style="vertical-align: top">17/11/2015</td>
			<td style="vertical-align: top">Prototype with initial concept to group all data from platform</td>
		</tr>
	</table>

	<div class="spacer_50"></div>

	<h2 class="title_24">Beta prototypes</h2>

	<div class="spacer_5"></div>

	<p class="text_19">Beta prototypes organised by date: </p>

	<div class="spacer_20"></div>

	<table class="custom_1">   
		<tr>
			<th width="15%" class="table_text_gray">Project</th>
			<th width="15%" class="table_text_gray">Date</th>
			<th width="70%" class="table_text_gray">Description</th>
		</tr>
		<tr>
			<td><a href="#">Dashboard</a></td>
			<td>01/01/2016</td>
			<td>Initial draft for beta (pending business and GDS assesstments approval)</td>
		</tr>
	</table>

	<div class="spacer_50"></div>

</div>

</body>

</html>
